{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Docs{% endblock %}

{% block body %}
    <p>About the author:</p>

    <p>I'm a little spy. And I spy with my little eye.</p>
{% endblock %}