{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
    <div class="notice">

        <h3>Latest topic interests:</h3>

        <ul>
            {# The "index" is optional #}
            {% for index, topic in topics %}
            <li>
                {{ index + 1}}) <b>{{ topic.title }}</b> ({{ topic.updatedAt|default(date('today'))|date('Y/m/d') }})
            </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
